:root {
  --textcolor1: #888888;
  --textcolor2: #333333;
  --textcolor3: #666666;
  --redcolor: #e34444;
  --bordercolor: #eaeaea;
}

p {
  margin: 0;
}

input,
select,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

ul {
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.headertop {
  background-color: #222222;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 1.2rem;
}

.header-content a {
  color: var(--textcolor1);
  display: block;
}

.topheader-left i {
  font-size: 1.6rem;
}

.language-switcher,
.currency-switcher {
  position: relative;
  color: var(--textcolor1);
}

.list-lang,
.list-currency {
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 100px;
  opacity: 0;
  visibility: hidden;
}

.list-lang::before,
.list-currency::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 10px;
  border-bottom: 10px solid white;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.list-lang li,
.list-currency li {
  padding-left: 10px;
}

.list-lang li {
  text-transform: uppercase;
}

.language-switcher::after {
  position: absolute;
  content: '';
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: #88888833;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.tongle img,
.list-lang img {
  height: 11px;
  width: auto;
  display: inline-block;
}

.topheader {
  display: flex;
  align-items: center;
  line-height: 40px;
}

.nav_item {
  padding: 0 2rem;
  border-right: 1px solid #88888833;
}

.nav_item:first-child {
  border-left: 1px solid #88888833;
}

.nav_item i {
  padding-right: 10px;
}

.nav_item:hover span {
  color: var(--redcolor);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}

.language-switcher:hover .list-lang,
.currency-switcher:hover .list-currency {
  opacity: 1;
  visibility: visible;
}

.language-switcher:hover .list-lang li,
.currency-switcher:hover .list-currency li {
  animation: fadeIn 0.3s linear;
  -webkit-animation: fadeIn 0.3s linear;
}

.list-lang li:hover,
.list-currency li:hover {
  background-color: whitesmoke;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  padding: 40px 0 35px;
}

.header-right {
  display: flex;
}

.header-right-widget {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-text h4 {
  font-weight: 400;
  font-size: 14px;
}
.widget-text h4 a {
  color: #555;
  text-transform: uppercase;
}

.widget-text p {
  font-size: 12px;
  color: var(--textcolor3);
}

.widget-icon {
  background-color: #eaeaea;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.widget-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #666;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.widget-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: var(--redcolor);
  z-index: -1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header-right-widget:hover .widget-icon::after {
  height: 100%;
  z-index: 1;
}

.header-right-widget:hover .widget-icon i {
  color: white;
  z-index: 2;
}

.navbar {
  padding: 0;
  margin-bottom: 30px;
}

.navbar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: url('../image/nav/double-dotted.png');
  left: 0;
  top: 0;
}
.navbar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: url('../image/nav/double-dotted.png');
  left: 0;
  bottom: 0;
}

.menu {
  display: flex;
}

.menu-right {
  display: flex;
  align-items: center;
}

.list-page {
  position: absolute;
  top: 90%;
  left: 0;
  min-width: 220px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 15px 0;
  opacity: 0;
  visibility: hidden;
}

.list-page::after {
  top: -10px;
  left: 8px;
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 2;
}

.list-page::before {
  top: -10px;
  left: 8px;
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #666;
  z-index: 1;
}

.page-item {
  padding: 4px 20px;
  font-size: 12px;
}

.menu-item > a {
  color: var(--textcolor2);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  padding: 18px 30px 18px 0;
  display: block;
}

.menu-item:first-child > a {
  padding-left: 0;
}

.menu-item:first-child > a,
.menu-item:hover > a,
.bedroom-title:hover,
.page-item:hover a,
.page-item:first-child a,
.shop-item :hover,
.furniture-item :hover,
.cart .quantity {
  color: var(--redcolor);
}

.menu-item:hover .list-page,
.menu-item:hover .furnitures,
.menu-item:hover .bedroom,
.menu-item:hover .shop-tabs,
.menu-item:hover .blog-list,
.menu-item:hover .shortcode-wrap,
.blog-item:hover .post-list {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  animation: fadeIn 0.3s linear;
  -webkit-animation: fadeIn 0.3s linear;
}

.search {
  display: flex;
  align-items: center;
}

.search span {
  font-size: 12px;
  color: #666;
}

.icon-search {
  font-size: 16px;
  color: var(--textcolor1);
  position: relative;
  padding: 1.8rem 2rem 1.8rem;
  cursor: pointer;
}

.icon-search::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 100%;
  width: 1px;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.cart {
  font-size: 12px;
  color: var(--textcolor1);
  padding-right: 8px;
  padding: 1.8rem 0 1.8rem 2.5rem;
  cursor: pointer;
  position: relative;
}

.card-list-wrap {
  position: absolute;
  top: 95%;
  right: 0;
  padding: 20px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  min-width: 300px;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  z-index: 1;
}

.cart:hover .card-list-wrap {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.3s linear;
  -webkit-animation: fadeIn 0.3s linear;
  -o-animation: fadeIn 0.3s linear;
  -moz-animation: fadeIn 0.3s linear;
}

.card-list-wrap::after {
  position: absolute;
  content: '';
  top: -9px;
  left: 80%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 1;
}
.card-list-wrap::before {
  position: absolute;
  content: '';
  top: -10px;
  left: 80%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  z-index: -2;
}

.card-list {
  overflow: hidden;
  max-height: 300px;
}

.form-search {
  display: none;
  position: absolute;
  top: 4px;
  left: 0;
  height: 90%;
  width: 100%;
  justify-content: space-between;
  background: white;
  z-index: 11;
}
.search:hover .form-search {
  display: flex;
}

.form-search input {
  width: calc(1200px - (52px + 44px));
  border: 0;
  padding-left: 20px;
  font-size: 1.2rem;
  color: var(--textcolor3);
}

.form-search button[type='submit'] {
  color: var(--redcolor);
  outline: none;
  border: 0;
  padding: 0 22px;
  background-color: white;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.form-search button[type='submit']::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 1px;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.furnitures::after {
  position: absolute;
  content: '';
  top: -10px;
  left: 100px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.furnitures::before {
  position: absolute;
  content: '';
  top: -11px;
  left: 100px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.furniture-tabs {
  display: flex;
}

.furniture-tab {
  width: 25%;
}

.furniture-header,
.shop-header,
.shortcode-header {
  font-size: 15px;
  font-weight: 700;
  margin: 10px 15px 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--bordercolor);
  color: var(--textcolor2);
  text-transform: uppercase;
}

.furniture-item,
.shop-item,
.shortcode-item {
  padding: 2px 15px;
  font-size: 12px;
  color: var(--textcolor3);
}

.furniture-image {
  display: flex;
  margin-top: 20px;
}

.furniture-image img {
  padding: 0 15px;
  width: 100%;
  object-fit: cover;
}

.bedroom,
.shop-tabs,
.furnitures {
  position: absolute;
  display: flex;
  width: 100%;
  top: 92%;
  left: 0;
  background-color: white;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%);
  padding: 20px 15px 30px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--bordercolor);
}

.furnitures {
  flex-direction: column;
}

.bedroom::after {
  position: absolute;
  content: '';
  top: -10px;
  left: 450px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.bedroom::before {
  position: absolute;
  content: '';
  top: -11px;
  left: 450px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.bedroom-item {
  padding: 10px 15px 0;
}

.bedroom-image {
  margin-bottom: 18px;
}

.bedroom-title {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--textcolor2);
  font-weight: 700;
}

.bedroom-desc {
  font-size: 12px;
  color: var(--textcolor3);
}

.shop-tabs::before {
  position: absolute;
  content: '';
  top: -11px;
  left: 597px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.shop-tabs::after {
  position: absolute;
  content: '';
  top: -10px;
  left: 597px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.shop-tab {
  width: 33.333%;
}

.blog-list {
  position: absolute;
  min-width: 220px;
  background-color: white;
  border: 1px solid var(--bordercolor);
  z-index: 1;
  top: 92%;
  left: 0;
  padding: 15px 0;
  opacity: 0;
  visibility: hidden;
}

.blog-list::before {
  top: -11px;
  left: 25px;
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.blog-list::after {
  top: -10px;
  left: 25px;
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 2;
}

.blog-item,
.post-item {
  padding: 4px 20px;
  color: var(--textcolor3);
  font-size: 12px;
  font-weight: 400;
}

.post-list {
  position: absolute;
  background-color: white;
  border: 1px solid var(--bordercolor);
  z-index: 1;
  min-width: 220px;
  left: 100%;
  top: 0;
  padding: 15px 0;
  visibility: hidden;
  opacity: 0;
}

.blog-item-subcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-item:hover,
.post-item:hover,
.shortcode-item:hover {
  color: var(--redcolor);
}

.shortcode-wrap {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid var(--bordercolor);
  display: flex;
  z-index: 1;
  padding: 20px 15px 30px;
  opacity: 0;
  visibility: hidden;
}

.shortcode-tab {
  width: 33.333%;
}

.shortcode-tab img {
  margin-bottom: -25px;
}

.shortcode-tab a {
  position: relative;
}

.shortcode-tab a::before,
.shortcode-tab a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.shortcode-tab a:hover::before {
  right: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.shortcode-tab a:hover::after {
  top: 50%;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.shortcode-wrap::after {
  top: -10px;
  left: 775px;
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 1;
}

.shortcode-wrap::before {
  top: -11px;
  left: 775px;
  position: absolute;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #666;
  z-index: 1;
}

.banner {
  display: grid;
  grid-template-areas:
    'aa aa ee ee'
    'aa aa cc dd';
  gap: 30px;
  margin-bottom: 55px;
}

.slider {
  grid-area: aa;
  position: relative;
}

.slider-main {
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  height: 100%;
}

.slider-main::-webkit-scrollbar {
  display: none;
}

.slider-item {
  flex: 1 0 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.banner a:nth-child(2) {
  grid-area: ee;
  position: relative;
}

.banner a:nth-child(2)::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  bottom: 15px;
  content: '';
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
}

.banner a:nth-child(2)::after {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  bottom: 15px;
  content: '';
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
}

.banner a:nth-child(2):hover span::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner a:nth-child(2):hover::before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

.banner a:nth-child(2):hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

.banner a:nth-child(3) {
  grid-area: cc;
  position: relative;
}

.banner a:nth-child(3)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

.banner a:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

.banner a:nth-child(3):hover::after {
  left: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.banner a:nth-child(3):hover::before {
  right: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.banner a:nth-child(4) {
  grid-area: dd;
  position: relative;
}

.banner a:nth-child(4)::before {
  background: url(../image/banner/plus.png) no-repeat scroll center center / 60px 60px rgba(0, 0, 0, 0.3);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform: scale(0.4) rotateY(180deg);
  -moz-transform: scale(0.4) rotateY(180deg);
  -ms-transform: scale(0.4) rotateY(180deg);
  -o-transform: scale(0.4) rotateY(180deg);
  transform: scale(0.4) rotateY(180deg);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.banner a:nth-child(4):hover::before {
  opacity: 0.6;
  filter: alpha(opacity=60);
  visibility: visible;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

.slider-dot {
  position: absolute;
  top: 95%;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.slider-dot li {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-right: 10px;
  border: 1px solid var(--textcolor2);
  cursor: pointer;
}

.slider-dot li.active {
  background-color: var(--redcolor);
  border: none;
}

.tab-list {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.tab-list::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--bordercolor);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.tab-content {
  margin-bottom: 10px;
  transition: transform 1s linear;
  transform: scale(0);
  animation: showScale 1s linear forwards;
  -webkit-animation: showScale 1s linear forwards;
  -moz-animation: showScale 1s linear forwards;
  -o-animation: showScale 1s linear forwards;
  animation-delay: calc(var(--value) * 0.3s);
  -webkit-animation-delay: calc(var(--value) * 0.3s);
  -moz-animation-delay: calc(var(--value) * 0.3s);
  -o-animation-delay: calc(var(--value) * 0.3s);
  width: calc(20% - 20px);
}

@keyframes showScale {
  to {
    transform: scale(1);
  }
}

.tab-item {
  padding: 0 20px 5px;
  font-size: 20px;
  color: var(--textcolor2);
  text-transform: uppercase;
  z-index: 1;
  background-color: white;
  cursor: pointer;
}

.tab-item.active {
  pointer-events: none;
}

.tab-item.active span {
  border-bottom: 2px solid black;
  position: relative;
}

.tab-item.active span::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  border-top: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.tab-item:first-child {
  padding-left: 0;
  position: relative;
}

.tab-item:nth-child(2) {
  position: relative;
}

.tab-item:first-child::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 1%;
  height: 50%;
  background-color: var(--bordercolor);
  width: 1px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.tab-item:nth-child(2)::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 1%;
  height: 50%;
  background-color: var(--bordercolor);
  width: 1px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.tab-wrapper {
  display: none;
}

.tab-wrapper.active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sale-on {
  position: relative;
  overflow: hidden;
}

.sale {
  position: absolute;
  top: 7px;
  right: -14px;
  background-color: var(--redcolor);
  color: white;
  padding: 0px 17px;
  z-index: 1;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.catalog {
  position: relative;
}

.catalog-image {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--bordercolor);
}

.product-content {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.product-title {
  font-size: 13px;
  color: var(--textcolor3);
  cursor: pointer;
}

.product-title:hover {
  color: var(--redcolor);
}

.sale-price {
  font-size: 12px;
  color: var(--textcolor3);
  margin-right: 7px;
  position: relative;
}

.sale-price::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--textcolor3);
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

.current-price {
  font-size: 16px;
  font-weight: 700;
  color: var(--textcolor2);
}

.start-rating {
  display: flex;
  align-items: center;
}

.start-rating .star-yellow {
  object-fit: cover;
  width: 12px;
  height: auto;
  padding-left: 2px;
}

.start-rating .star-gray {
  object-fit: cover;
  width: 11px;
  height: auto;
  padding-left: 2px;
}

.from-add-cart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.from-add-cart button {
  border: 0;
  outline: 0;
  width: 100%;
  color: white;
  background-color: var(--textcolor2);
  padding: 8px 0;
  font-size: 12px;
  font-weight: 600;
  transform: translateX(101%);
  -webkit-transform: translateX(101%);
  -moz-transform: translateX(101%);
  -ms-transform: translateX(101%);
  -o-transform: translateX(101%);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.box-icon {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateX(-101%);
  -webkit-transform: translateX(-101%);
  -moz-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  -o-transform: translateX(-101%);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.box-icon > span {
  width: 33.33333%;
  text-align: center;
  padding: 6px 0;
  cursor: pointer;
  position: relative;
}

.box-icon > span:hover .tooltip-text,
.box-icon > span:hover::after {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s linear;
}

.tooltip-text {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--redcolor);
  color: white;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  pointer-events: none;
  border-radius: 4px;
  padding: 1px 2px;
  font-size: 12px;
}

.box-icon > span:last-child .tooltip-text {
  left: auto;
  right: 0;
}

.box-icon > span::after {
  position: absolute;
  content: '';
  top: -13px;
  left: 50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--redcolor);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.box-icon > span:nth-child(2) {
  border-left: 1px solid var(--bordercolor);
  border-right: 1px solid var(--bordercolor);
}

.catalog:hover .from-add-cart button,
.catalog:hover .box-icon {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.box-icon span:hover i {
  color: var(--redcolor);
}

.from-add-cart button:hover {
  background-color: var(--redcolor);
}

.from-add-cart button:hover i {
  animation: horizontal 1s linear 0.5s infinite alternate;
  -webkit-animation: horizontal 1s linear 0.5s infinite alternate;
}

@keyframes horizontal {
  0% {
    transform: translateX(3px);
  }
  10% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-3px);
  }
  30% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.btn-loadmore {
  border: 1px solid var(--bordercolor);
  outline: 0;
  background-color: white;
  margin: 0 auto;
  padding: 10px 80px;
  border-radius: 3px;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--textcolor1);
  font-weight: 700;
  transition: all 0.25s linear;
  position: relative;
}

.btn-loadmore:hover {
  background-color: var(--redcolor);
  color: white;
  transition: all 0.25s linear;
}

.btn-loadmore:hover .btn-spinner {
  border-color: white;
  border-right-color: transparent;
}
.btn-loadmore:focus {
  outline: 0;
}

.btn-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid var(--textcolor1);
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  -webkit-animation: spinner 1s linear infinite;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.new-product {
  background-color: #f0f0f0;
  display: flex;
  padding: 30px;
  margin-bottom: 55px;
}

.new-product-img {
  display: block;
  padding: 0px 95px 0px 45px;
}

.new-product-content {
  padding: 28px;
}

.new-product-header {
  font-size: 50px;
  color: var(--textcolor2);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.new-product-title {
  font-size: 14px;
  color: var(--textcolor2);
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 10px;
}

.new-product-desc {
  font-size: 12px;
  color: var(--textcolor3);
  margin-bottom: 10px;
}

.new-product-content button {
  font-size: 13px;
  background-color: var(--textcolor2);
  color: white;
  text-transform: uppercase;
  padding: 7px 25px;
  font-weight: 600;
  outline: 0;
  border: 0;
  transition: 0.1s linear;
}

.new-product-content button:hover {
  background-color: var(--redcolor);
  color: white;
  transition: 0.1s linear;
}

.collection {
  width: 100%;
  margin-bottom: 50px;
}

.collection .tab-wrapper {
  flex-wrap: nowrap;
  transition: transform 0.5s linear;
}

.slide-collection:hover .tab-icon {
  display: block;
}

.slide-collection {
  position: relative;
  overflow: hidden;
}

.tab-icon {
  position: absolute;
  top: 35%;
  width: 30px;
  height: 30px;
  border: 1px solid var(--bordercolor);
  text-align: center;
  line-height: 30px;
  color: #ccc;
  cursor: pointer;
  background-color: white;
}

.tab-icon:hover {
  background-color: var(--redcolor);
  color: white;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 1px;
}

.collection .tab-content {
  flex: 1 0 auto;
  margin-right: 21px;
}

.collection .tab-content:last-child {
  margin-right: 1px;
}

.collection-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}

.collection-header {
  font-size: 20px;
  color: var(--textcolor2);
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.collection-item {
  width: 11.11%;
  cursor: pointer;
  border: 1px solid var(--bordercolor);
}

.collection-title {
  padding: 10px 0 20px;
  height: 100%;
  position: relative;
}

.collection-item.active {
  border-bottom: 1px solid var(--textcolor2);
  pointer-events: none;
}

.collection-item:hover {
  border-bottom: 1px solid var(--textcolor2);
}

.collection-item:hover .collection-title::after,
.collection-item.active .collection-title::after {
  display: block;
}

.collection-title::after {
  position: absolute;
  content: '';
  top: calc(100% + 1px);
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--textcolor2);
  display: none;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.collection-img {
  max-height: 70px;
  object-fit: cover;
  margin: 0 auto;
}

.collection-text {
  font-size: 12px;
  color: var(--textcolor2);
  text-align: center;
  padding-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.banner-wapper {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 52px;
  gap: 30px;
}

.banner-wapper img {
  height: 100%;
  object-fit: cover;
}

.banner-wapper img:first-child {
  grid-column: 1/3;
}

.most-view-header-text,
.post-header-text {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--textcolor2);
  font-weight: 700;
  background-color: white;
  padding-right: 25px;
  position: relative;
  z-index: 1;
  width: max-content;
}

.most-view-header,
.latest-post-header {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 25px;
}

.most-view-header::after,
.latest-post-header::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--bordercolor);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.most-view-main {
  display: flex;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.most-view-item {
  display: flex;
  width: 25%;
  margin-bottom: 20px;
}

.most-view-img {
  width: 40%;
  border: 1px solid var(--bordercolor);
  cursor: pointer;
  transition: all 0.2s linear;
}

.most-view-img:hover {
  border-color: var(--redcolor);
  transition: all 0.2s linear;
}

.most-view-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}

.most-view-title {
  font-size: 13px;
  color: var(--textcolor3);
  cursor: pointer;
}

.add-cart {
  font-size: 12px;
  color: var(--textcolor1);
  cursor: pointer;
  transition: all 0.2s linear;
}

.add-cart:hover,
.most-view-title:hover {
  color: var(--redcolor);
  transition: all 0.2s linear;
}

.latest-post-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  gap: 30px;
}

.latest-post-item img {
  margin-bottom: 20px;
  object-fit: cover;
  /* width: 370px;
  height: 190px; */
}

.latest-post-content {
  display: flex;
}

.latest-post-date {
  width: 50px;
  height: 56px;
  flex: 1 0 auto;
  border: 1px solid var(--bordercolor);
  margin-right: 14px;
  text-align: center;
  padding-top: 8px;
}

.latest-post-date p:first-child {
  font-size: 25px;
  line-height: 1;
  color: var(--textcolor2);
  font-weight: bold;
  margin-bottom: 2px;
}

.latest-post-date p:last-child {
  font-size: 12px;
  line-height: 1;
  color: var(--textcolor3);
}

.latest-post-author {
  color: var(--redcolor);
  font-size: 12px;
}

.latest-post-title {
  font-size: 14px;
  color: var(--textcolor2);
  font-weight: 600;
  margin-bottom: 7px;
}

.latest-post-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: var(--textcolor3);
  line-height: 1.5;
}

.supplier {
  padding: 20px 15px 25px;
  position: relative;
  width: 100%;
}

.supplier::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--bordercolor);
}

.supplier {
  display: flex;
  justify-content: space-between;
}

.supplier img {
  width: 190px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.supplier a:hover {
  background-color: rgb(245, 245, 245);
}

footer {
  background-color: #f8f8f6;
  padding-bottom: 46px;
  border-bottom: 1px solid #eaeaea;
}

.footer-main {
  padding-top: 55px;
  display: flex;
  width: 100%;
}

.footer-item {
  width: 20%;
  font-size: 12px;
  color: var(--textcolor3);
}

footer h4 {
  margin-bottom: 25px;
  font-size: 16px;
  color: var(--textcolor2);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

.footer-item {
  padding: 0 10px;
}

.footer-item > div {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
}

.footer-item > div:hover .icon-footer {
  border-color: var(--redcolor);
  transition: all 0.2s linear;
  color: var(--redcolor);
}

.footer-item:not(:last-child) li {
  padding-right: 10px;
  transition: all 0.2s linear;
}

.footer-item li {
  padding-bottom: 10px;
}

.footer-item li a {
  display: block;
}

.footer-item li:hover a {
  color: var(--redcolor);
  transition: all 0.2s linear;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.footer-item a[href^='mailto']:hover {
  color: var(--redcolor);
}

.icon-footer {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--bordercolor);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  flex-shrink: 0;
}

.register-email input {
  margin-bottom: 20px;
  outline: 0;
  padding: 6px 10px;
  width: 100%;
  font-size: 12px;
  border: 1px solid var(--bordercolor);
  color: #c8c8c8;
}

input[type='email']:focus,
input[type='email']:hover {
  color: var(--textcolor3);
  border-color: #cdcdcd;
}

.register-email input::placeholder {
  color: #c8c8c8;
}

.register-email button {
  outline: 0;
  border: 0;
  padding: 7px 16px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #222222;
  transition: all 0.2s linear;
}

.register-email button:hover {
  background-color: var(--redcolor);
  transition: all 0.2s linear;
}

.copy-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 12px;
}

.payment-logo {
  padding: 0 15px;
}

.back-to-top {
  position: fixed;
  right: 10px;
  width: 60px;
  height: 60px;
  bottom: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--bordercolor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--bordercolor);
  cursor: pointer;
  display: none;
  transition: all 0.2s linear;
}

.back-to-top:hover {
  background-color: var(--redcolor);
  color: white;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}
